.main {
  position: relative;
  z-index: 10;
}

.aside-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.aside-menu > * {
  width: 250px;
  background-color: white;
  height: 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}