.favouriteWrapp {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 3em;
    background-color: rgb(240, 146, 70);
    margin: 4em auto;
    border: 2px solid orange;
    border-radius: 40px;
    color: #fff;
}
