
.filters-container {
  background: #f9f9f9;
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filter-tags > * {
    color: #000;
}

.tag {
  background: #e5e5e5;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.3s, color 0.3s;
}

.tag.selected {
  background: #ffe5d0;
  color: #e67e22;
  font-weight: bold;
}

.car-listings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.notAvailable {
  background-color: rgb(240, 146, 70);
  padding: 1em;
  margin-top: 2em;
  color: #fff;
  border-radius: 1em;
  border: 2px solid orange;
  box-shadow: 0 0 0.1em 0 rgb(0, 0, 0,5);
}

