.doorsUl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doorsUl .doorsLi {
    list-style-type: none;
    padding: 0.5em;
    border-bottom: 1px solid gray;
    width: 60%;
    font-size: 1.2em;
    position: relative;
}

.doorsInput {
    cursor: pointer;
    display: none;
}

.doorsInput:checked ~ label::after {
    content: '✔️';
    position: absolute;
    right: 0;
}

.doorsInput ~ label {
    cursor: pointer;
    width: 100%;
}
