.yearOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.yearHead {
    display: flex;
    position: relative;
    align-items: center;
    gap: 2em;
    flex-shrink: 0;
    margin-bottom: 2em;
}

.yearHead i {
  font-size: 18px;
  cursor: pointer;
  color: #444;
}

.yearHead h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.yearWrapper {
  width: 100%;
  padding: 20px;
  max-width: 700px;
  max-height: 70vh;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.25s ease-in-out;

  display: flex;
  flex-direction: column;
}

.yearLabels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.yearTrack {
  height: 6px;
  background: #e67e22;
  border-radius: 4px;
}

.yearThumb {
  height: 18px;
  width: 18px;
  background-color: #e67e22;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.confirm {
  position: absolute;
  left: 90%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: rgba(255, 140, 0, 0.12);
  color: #e67600;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.confirm:hover {
  background-color: rgba(73, 51, 25, 0.12);
  color: #ff8400;
}

.clear {
  position: absolute;
  left: 80%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: rgba(255, 140, 0, 0.12);
  color: #e67600;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.clear:hover {
  background-color: rgba(73, 51, 25, 0.12);
  color: #ff8400;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}